# Ignore all plugins
/wp-content/plugins/*

# Keep the plugins directory index file ignored
/wp-content/plugins/index.php

# Track Codenitive Shipping Insurance
!/wp-content/plugins/codenitive-shipping-insurance/
!/wp-content/plugins/codenitive-shipping-insurance/**